# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Temp files
*.bak
*.tmp
*.temp

# Environment variables
.env
.env.local
.env.*.local